#!/bin/sh

# xrandr --setprovideroutputsource modesetting NVIDIA-0
# xrandr --auto

#QT appeareance, you have to install qt5ct and kvantum
export QT_QPA_PLATFORMTHEME="qt5ct"

# Default programs:
web_broser=firefox
  export BROWSER=
  xdg-settings set default-web-browser $web_browser.desktop
  export BROWSER=$web_browser
export READER="zathura"
export TERM=xterm-256color 
export TERMINAL="kitty"
export EDITOR="nvim"

# PATH envs
export XDG_CACHE_HOME="$HOME/.cache"
export LESSKEY="$XDG_CONFIG_HOME"/less/lesskey
export LESSHISTFILE=-
export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export NVM_DIR="$XDG_DATA_HOME"/nvm

# Para que aparezcan los acentos
export LC_CTYPE="en_US.UTF-8"

# Bitwarden
export BW_SESSION=$(cat ~/.config/Bitwarden\ CLI/.env)

# PATH
export PATH=$PATH:~/.local/bin
export PATH=$PATH:/snap/bin:/var/lib/snapd/snap/bin

# apps at startup
autorandr-launcher &
dunst &
kdeconnect-indicator &
udiskie &
unclutter &
~/.local/bin/touchpad-enable.sh &
picom --experimental-backends --backend glx --blur-method dual_kawase --blur-strength 5 &
redshift &
autorandr -c &
xrdb ~/.Xresources
/usr/lib/kdeconnectd &
# optimus-manager-qt

# wallpaper
if [ -f ~/.cache/bg ]; then
  sleep 4; xwallpaper --zoom ~/.cache/bg &
else
  cp $(find $(pwd)/Pictures/Wallpapers -type f | sort -R |head -n1) ~/.cache/bg && convert -resize 1920 -blur 30x30 ~/.cache/bg ~/.cache/bg.png && xwallpaper --zoom ~/.cache/bg &
fi

# xmodmap ~/.config/Xmodmap
sxhkd &

# Custom keyboard map
#  xkbcomp $DISPLAY output.xkb  # To get current configuration
#  now follow: https://wiki.archlinux.org/index.php/X_keyboard_extension#Caps_hjkl_as_vimlike_arrow_keys
if [ -f $HOME/.config/pbl.xkb ]; then
  xkbcomp $HOME/.config/pbl.xkb $DISPLAY
else
  setxkbmap us,es altgr-intl, -option grp:rctrl_rshift_toggle
fi

# For nVidia
# /usr/bin/prime-offload &

# desktop
#exec i3
